/*/ red_color: #c7749f
blue color: #74dde4
white: #f1f7f5
black: #030303
green: #78927a
green_yellow: #afb59f
yellow: #78927a
*/
body {

  /* height: 100%; */
  /* width: 100%; */
  /* box-sizing: border-box; */
 
  font-family: sans-serif;
  /* align-items: flex-start; */
  /* justify-content: center; */
  flex-direction: column;
  flex-basis: auto;
  align-self: center;
  background-color: #f1f7f5;
  text-align: center;
}


body:first-child {
  align-self: stretch;
  align-content: center;
}
.box {
  width: 400px;
  align-items: center;
}

h1 {
  font-family: "Poiret One", cursive;
}

@media (min-width: 768px) {
  .box {
    flex-direction: row;
    text-align: left;
  }
}
