:root {
  /* colors */
  --light-red: #c7749f;
  --red: #eb2c5f;
  --dark-blue: #09165c;
  --light-blue: #74dde4;
  --whitish: #f1f7f5;
  --black: #030303;
  --gray-green: #78927a;
  --gray-green-yellow: #afb59f;
}

body {
  /* height: 100%; */
  /* width: 100%; */
  /* box-sizing: border-box; */
 
  font-family: sans-serif;
  /* align-items: flex-start; */
  justify-content: center;
  flex-direction: column;
  flex-basis: auto;
  align-self: center;
  width: 400px;
  background-color: var(--black);
}

body {
  align-self: stretch;
  align-content: center;
}

h1 {
  font-family: "Poiret One", cursive;
  color: var(--light-blue);
}

h2 {
  font-family: 'Lato', sans-serif;
  color: var(--light-blue);

}

p {
  font-family: 'Lato', sans-serif;
  color: var(--light-blue);
}

@media (min-width: 768px) {
    flex-direction: row;
    width: 768px;
}

.posted-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-post {
  background-color: var(--dark-blue);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  margin: 0 auto;
  padding: 0;
  border: 1px solid var(--gray-green);
  border-radius: 2px;
}
.post-title {
  color: var(--light-blue);
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
  padding: 0;
}
.post-author {
  color: var(--light-blue);
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.post-date {
  color: var(--light-blue);
  margin: 0;
  padding: 0;
  font-weight: 100;
}