<!--
    ❖ login.html – for users to log in
      ▪ Must have document title.
      ▪ Must have a section heading introducing the form.
      ▪ Input fields are REQUIRED to be in form tags.
      ▪ Must ask user to input a username.
      ▪ Must ask user to input a password.
        • Password input must be correct input type (i.e. when I type I should not see the password).
      ▪ Must have the user click a submit button to submit login form.
  -->
<div class="container">
  <h1 class="title">Login:</h1>
  <form id="login-form" class="form-container">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required minlength="2" />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required minlength="8" />
    <input type="submit" value="Login" />
  </form>
</div>