<!--
imagePost.hbs – for viewing an individual image post
    ▪ Must have a section for the post’s post title.
    ▪ Must have a section for the post’s post author
    ▪ Must have a section for the post’s post creation time. 
    ▪ Must have a section for the post’s image
-->
<div id="post-details-view" class="image-post-container">
  <h1 class="title">Studying in São Paulo</h1>
  <img class="posted-image" alt="fake" src="public/images/lofi-br.png" />
  <div class="below-image">
    <p class="post-author">Tommy Jobim</p>
    <p class="post-date">2020-03-01 at 23:59</p>
  </div>
</div>