:root {
  /* colors */
  /* https://coolors.co/palette/264653-2a9d8f-e9c46a-f4a261-e76f51 */
  --color-deep-navy: #5ab5d8;
  --color-medium-teal: #2a9d8f;
  --color-mild-yellow: #e9c46a;
  --color-creamsicle-orange: #f4a261;
  --color-deep-orange: #e76f51;

  /* color var definitions */
  --color-alpha: #264653 /* var(--color-deep-navy) */;
  --color-beta: #2a9d8f /* var(--color-medium-teal) */;
  --color-delta: #e9c46a /* var(--color-mild-yellow) */;
  --color-gamma: #f4a261 /* var(--color-creamsicle-orange) */;
  --color-epsilon: #e76f51 /* var(--color-deep-orange) */;
  /* alternate color palletes */
  /* https://colorhunt.co/palette/1eb2a6d4f8e8ffa34df67575 */
  /* --color-teal: #1eb2a6;
  --color-light-teal: #d4f8e8;
  --color-light-orange: #ffa34d;
  --color-light-red: #f67575; */

  /* https://colorhunt.co/palette/00af91007965f58634ffcc29 */
  /* --color-medium-teal-green: #00af91;
  --color-dark-teal-green: #007965;
  --color-vibrant-orange: #f58634;
  --color-vibrant-yellow: #ffcc29; */

  /* https://colorhunt.co/palette/00425a1f8a70bfdb38fc7300 */
  /* --color-peacock-blue: #00425a;
  --color-medium-teal: #1f8a70;
  --color-light-green: #bfdb38;
  --color-vibrant-orange: #fc7300; */
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--color-alpha);
  color: var(--color-delta);
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: calc(0.4rem + 0.5vw);
  margin-right: calc(0.4rem + 0.5vw);
}

.container {
  width: 100%;
  max-width: 500px;
  background-color: var(--color-alpha);
  padding: 1rem;
  border: 3px solid var(--color-delta);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.checkbox-prompt-container {
  margin-bottom: 1rem;
}

input:not([type="checkbox"]),
textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--color-delta);
  border-radius: 3px;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

input[type="submit"],
input[type="button"] {
  background-color: var(--color-beta);
  border: none;
  color: var(--color-delta);
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: var(--color-epsilon);
}

a {
  color: var(--color-delta);
}
a:hover {
  color: var(--color-epsilon);
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: calc(0.6rem + 0.5vw);
  color: var(--color-delta);
  font-weight: 800;
  margin-bottom: 0.5rem;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: auto;
}

.post-info {
  font-family: "Nunito", sans-serif;
  font-size: calc(0.4rem + 0.5vw);
  margin-top: 0;
  margin-bottom: 0;
}

.posted-image {
  width: 100%;
  object-fit: scale-down;
}

.below-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.post-author, .post-date {
  margin: 0.5rem 0 0.5rem 0;
}

.error {
  color: var(--color-epsilon);
}

#flash-message {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
  width: 100%;
  background-color: var(--color-beta);
}

#logo {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  margin: .5rem;
}
#navbar>a{
  border-right: 1px solid var(--color-delta);
  flex-grow: 2;
  text-decoration: none;
}
#navbar>a:last-child{
  border-right: none;
}

.alert {
  text-align: center;
}

#alert-good {
  color: var(--color-delta);
}

#alert-bad {
  color: var(--color-gamma);
}

header, footer {
  font-family: "Nunito", sans-serif;
  padding: 1rem 0 1rem 0;
  margin: 0 0 0 0;
  text-align: center;
  width: 100%;
  border: var(--color-delta) solid;
  border-width: 2px 0 2px 0;
  position: auto;
}

footer p, footer a {
  margin: 0;
  padding: 0.5rem 0;
}

/* // image-posts  */
.image-post-container {
  min-width: 1rem;
  background-color: var(--color-alpha);
  padding: 0.5rem;
  border: 2px solid var(--color-delta);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: calc(0.1rem + 0.5vw);
  transition: opacity 0.5s;
}

#image-posts {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(33.33%, 1fr)
  ); /* max 3 items */
  margin: 0.5rem;
}

#items-count {
  font-family: "Nunito", sans-serif;
  font-size: calc(1rem + 0.5vw);
  color: var(--color-delta);
  margin: 1rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 800px) {
  #view-image-post {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 1080px) {
  #image-posts {
    grid-template-columns: repeat(
      auto-fill,
      minmax(25%, 1fr)
    ); /* max 4 items */
  }
  #view-image-post {
    width: 70%;
    margin: auto;
  }
}

@media (min-width: 1600px) {
  #image-posts {
    grid-template-columns: repeat(
      auto-fill,
      minmax(20%, 1fr)
    ); /* max 5 items */
  }
  #view-image-post {
    width: 60%;
    margin: auto;
  }
}
